.myTable {
  width: 100%;

  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 13px;
  }

  // .myTableContent {

  // }

  :global {
    .ant-table-tbody>tr.ant-table-row-selected>td {
      background: none;
    }

    .ant-table-thead>tr>th {
      background: #fff;
      color: rgba(0, 0, 0, 0.4);
    }

    :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
    :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      display: none;
    }

    .table tr th.ant-table-selection-column,
    table tr td.ant-table-selection-column {
      width: 58px;
    }


  }

  .pagination {
    height: 50px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}