#home {

  // 顶部导航
  .header {
    // display: flex;
    // align-items: center;
    padding: 0 30px;
    margin: 0;
    background: rgb(84, 219, 0);
    // background: #663399;

    // 标题
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 63.99px;
        // width: px;
      }

      h1 {
        margin-left: 20px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        margin: 0;
      }
    }

    .parkSelect {
      margin-left: 30px;
    }

    // 操作
    .operation {
      flex: 1;
      text-align: right;
      margin-right: 40px;
      font-size: 16px;
    }
  }

  // 面包屑
  .breadcrumb {
    display: flex;
    align-items: center;

    .breadcrumbHead {
      font-size: 14px;
      font-weight: 400;
      color: rgba(145, 150, 157, 1);
    }

  }

  // 左侧内容
  .content {
    // height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;

    /* 整个滚动条 */
    &::-webkit-scrollbar {
      width: 10px;
      background: rgba(0, 0, 0, 0);
    }

    /* 滚动条上的箭头按钮 */
    &::-webkit-scrollbar-button {
      display: none;
    }

    /* 滚动条上的滚动滑块 */
    &::-webkit-scrollbar-thumb {
      background-color: #C1C5CC;
      border-radius: 20px;
    }
  }


  // 禁用body滚动条
  body::-webkit-scrollbar {
    display: none
  }

  // 出现动画
  .pageAppear {
    position: relative;
    left: 0px;
    -webkit-animation: appear 1 .3s;
    animation: appear 1 .4s;
  }

  // 消失动画
  .pageDisAppear {
    position: relative;
    left: 0px;
    -webkit-animation: disAppear 1 .3s;
    animation: disAppear 1 .4s;
  }


  @-webkit-keyframes appear {
    0% {
      left: 0px;
      opacity: 1;

    }

    100% {
      left: 50px;
      opacity: 0;
    }
  }


  @keyframes appear {
    0% {
      left: 0px;
      opacity: 1;

    }

    100% {
      left: 50px;
      opacity: 0;

    }
  }

  @-webkit-keyframes disAppear {
    0% {
      left: -50px;
      opacity: 0;

    }

    100% {
      left: 0px;
      opacity: 1;
    }

  }

  @keyframes disAppear {
    0% {
      left: -50px;
      opacity: 0;

    }

    100% {
      left: 0px;
      opacity: 1;
    }

  }

}

// form表单样式
.formDataMoadl {
  :global {
    .ant-modal {
      width: 540px !important;
    }

    .ant-form-item-label {
      width: 200px;
    }

  }
}

ul,
ol {
  list-style: none;
}

// 操作
.operation {

  cursor: pointer;

  li {}

  // :global {
  //   .ant-popover-message-title {
  //     white-space: nowrap;
  //     transition : none;
  //   }
  // }

}

.materialMoadl {

  // height: 500px !important;

  :global {
    .ant-modal-body {
      height: 600px;
    }

    .ant-modal {
      width: 900px !important;
    }

    .ant-table-tbody td {
      padding: 11px 16px !important;
    }

  }

  .material {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 20px 0;

      h3 {
        margin: 0;
      }
    }
  }

  h3 {
    text-align: center;
    font-size: 22px;
  }

  .loading {
    height: 470px; // width: 36vw;
    margin: 0 auto;
  }
}

#processParams {
  .content {
    width: 1739px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  :global {
    .ant-form-item-label {
      width: 150px;
    }
  }

}

.loadingModal {
  width: 720px !important;

  :global {
    .ant-modal-title {
      text-align: center;
    }
  }

  .ant-modal-content {
    height: 388px;
  }

  
  @keyframes paramsShow {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .info {
    animation: paramsShow .7s forwards;

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .item {
      padding: 15px;
      display: flex;

      .label {
        color: #4E5969;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        width: 140px;

      }
    }
  }

  // 加载
  .loading {
    .hintText {
      color: #1D2129;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 29px;
    }

    .scrollContainer {
      width: 379px;
      height: 13px;
      border-radius: 100px;
      background: rgba(0, 0, 0, 0.05);
      position: relative;
      z-index: 1;
      margin-bottom: 30px;


      .bar {
        position: absolute;
        left: 0;
        z-index: 2;
        height: 13px;
        top: 0;
        border-radius: 100px;
        background: linear-gradient(90deg, #CD04FF 0.2%, #5263FF 37.25%, #2BCCFF 71.92%, #60FFE2 116.65%);
      }
    }
  }

}

// #processView {
//   width: 990px;

//   @keyframes paramsShow {
//     0% {
//       opacity: 0;
//       transform: translateY(100px);
//     }

//     100% {
//       transform: translateY(0px);
//       opacity: 1;
//     }
//   }

//   .params {
//     margin-top: 30px;
//     background: #fff;
//     padding: 30px 30px 0;
//     border-radius: 20px;
//     box-shadow: 3px 7px 5px #e7e7e7;
//     display: flex;
//     animation: paramsShow .7s forwards;

//     .item {
//       font-size: 20px;
//       font-weight: 600;
//       padding-bottom: 30px;
//     }
//   }

//   .box {

//     display: flex;
//     flex-wrap: wrap;
//     align-content: flex-start;

//     table,
//     th,
//     td {
//       border: 1px solid black;
//       border-collapse: collapse;
//       text-align: center;
//     }
//   }


//   .temperature {
//     flex-shrink: 0;
//     border: 1px solid black;
//     height: 80px;
//     width: 150px;
//     text-align: center;

//     .title {
//       // border-bottom: 1px solid black;
//       padding: 10px;
//       font-size: 18px;
//       background: #f0f0f0;
//     }

//     .value {
//       padding: 5px 0;
//       text-align: center;
//     }
//   }

//   .loading {
//     margin-top: 30px;

//     @keyframes TxtHide {
//       0% {
//         opacity: 1;
//         transform: translate(0px);
//       }

//       100% {
//         transform: translate(100px);
//         opacity: 0;
//         display: none;
//       }
//     }

//     .item {
//       padding: 10px;
//       font-size: 20px;
//       font-weight: 600;
//     }

//     .txtAnimation {
//       animation: TxtHide .5s forwards;
//     }
//   }
// }